<div class="row">
    <div class="col-lg-12">
      <% if (messages.error) { %>
      <div class="alert alert-danger"><%= messages.error %></div>
      <% } %>
      <h1 id="forms">Contact WorkBC Centre</h1>
      <p><span style="color:red">*</span> Denotes a required field.</p>
      <% if (Object.keys(errors).length === 0) { %>
      <% } else { %>
      <h3 class="errors-heading">Oops, please correct the following:</h3>
      <ul class="errors-list">
        <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <form method="post" action="/contactworkbc" onsubmit="submitContactWorkBC.disabled = true; return true;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden"  name="_uid" value="<%= uid %>">
          <div class="form-group">
            <label class="col-form-label control-label" for="firstname">First Name <span
                style="color:red">*</span></label>
            <input type="text" class="form-control <%= errors.firstname ? 'is-invalid' : '' %>" id="firstname"
              name="firstname" value="<% if (data.firstname){ %><%= data.firstname _%> <% } else { %><%= fname _%><% } %>" />
            <% if (errors.firstname) { %>
            <div class="invalid-feedback">Please enter your name.</div>
            <% } %>
          </div>
          <div class="form-group">
            <label class="col-form-label control-label" for="lastname">Last Name <span
              style="color:red">*</span></label>
            <input type="text" class="form-control <%= errors.lastname ? 'is-invalid' : '' %>" id="lastname"
              name="lastname" value="<% if (data.lastname){ %><%= data.lastname _%> <% } else { %><%= lname _%><% } %>"/>
            <% if (errors.lastname) { %>
            <div class="invalid-feedback">Please enter your last name.</div>
            <% } %>
          </div>
        <div class="form-group">
          <label class="col-form-label control-label" for="phone">Phone</label>
          <small class="text-muted" id="phone">555-555-5555 or 5551235555</small>
          <input type="text" class="form-control <%= errors.phone ? 'is-invalid' : '' %>" id="phone" name="phone"
            maxlength="12" aria-describedby="phone" value="<%= data.phone _%>" />
          </input>
          <% if (errors.phone) { %>
          <div class="invalid-feedback"><%= errors.phone.msg %></div>
          <% } %>
        </div>
        <div class="form-group">
          <label class="col-form-label control-label" for="email">Email <span style="color:red">*</span></label>
          <small class="text-muted" id="email">someone@example.com</small>
          <input type="text" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email" aria-describedby="email" name="email"
            value="<% if (data.email){ %><%= data.email _%> <% } else { %><%= email _%><%}%>" />
          <% if (errors.email) { %>
          <div class="invalid-feedback"><%= errors.email.msg %></div>
          <% } %>
        </div>
        
        <div class="form-group d-none">
          <label class="col-form-label control-label" for="workbccentre">WorkBC Centre</label>
          <small id="workbccentre" class="text-muted">Please select the centre you would like to be contacted by.</small>
          <select aria-describedby="workbccentre" aria-required="true"
            class="form-control <%= errors.workbccentre ? 'is-invalid' : '' %>" id="workbccentre" name="workbccentre">
            <option value="0">(Please select)</option>
            <option value="1" <%= checkworkbccentre('1') ? 'selected' : '' %>>1</option>
            <option value="2" <%= checkworkbccentre('2') ? 'selected' : '' %>>2</option>
            <option value="3" <%= checkworkbccentre('3') ? 'selected' : '' %>>3</option>
            <option value="4" <%= checkworkbccentre('4') ? 'selected' : '' %>>4</option>
            <option value="5" <%= checkworkbccentre('5') ? 'selected' : '' %>>5</option>
            <option value="6" <%= checkworkbccentre('6') ? 'selected' : '' %>>6</option>
            <option value="7" <%= checkworkbccentre('7') ? 'selected' : '' %>>7</option>
            <option value="8" <%= checkworkbccentre('8') ? 'selected' : '' %>>8</option>
            <option value="9" <%= checkworkbccentre('9') ? 'selected' : '' %>>9</option>
            <option value="10" <%= checkworkbccentre('10') ? 'selected' : '' %>>10</option>
            <option value="11" <%= checkworkbccentre('11') ? 'selected' : '' %>>11</option>
            <option value="12" <%= checkworkbccentre('12') ? 'selected' : '' %>>12</option>
            <option value="13" <%= checkworkbccentre('13') ? 'selected' : '' %>>13</option>
            <option value="14" <%= checkworkbccentre('14') ? 'selected' : '' %>>14</option>
            <option value="15" <%= checkworkbccentre('15') ? 'selected' : '' %>>15</option>
            <option value="16" <%= checkworkbccentre('16') ? 'selected' : '' %>>16</option>
            <option value="17" <%= checkworkbccentre('17') ? 'selected' : '' %>>17</option>
            <option value="18" <%= checkworkbccentre('18') ? 'selected' : '' %>>18</option>
            <option value="19" <%= checkworkbccentre('19') ? 'selected' : '' %>>19</option>
            <option value="20" <%= checkworkbccentre('20') ? 'selected' : '' %>>20</option>
            <option value="21" <%= checkworkbccentre('21') ? 'selected' : '' %>>21</option>
            <option value="22" <%= checkworkbccentre('22') ? 'selected' : '' %>>22</option>
            <option value="23" <%= checkworkbccentre('23') ? 'selected' : '' %>>23</option>
            <option value="24" <%= checkworkbccentre('24') ? 'selected' : '' %>>24</option>
            <option value="25" <%= checkworkbccentre('25') ? 'selected' : '' %>>25</option>
            <option value="26" <%= checkworkbccentre('26') ? 'selected' : '' %>>26</option>
            <option value="27" <%= checkworkbccentre('27') ? 'selected' : '' %>>27</option>
            <option value="28" <%= checkworkbccentre('28') ? 'selected' : '' %>>28</option>
            <option value="29" <%= checkworkbccentre('29') ? 'selected' : '' %>>29</option>
            <option value="30" <%= checkworkbccentre('30') ? 'selected' : '' %>>30</option>
            <option value="31" <%= checkworkbccentre('31') ? 'selected' : '' %>>31</option>
            <option value="32" <%= checkworkbccentre('32') ? 'selected' : '' %>>32</option>
            <option value="33" <%= checkworkbccentre('33') ? 'selected' : '' %>>33</option>
            <option value="34" <%= checkworkbccentre('34') ? 'selected' : '' %>>34</option>
            <option value="35" <%= checkworkbccentre('35') ? 'selected' : '' %>>35</option>
            <option value="36" <%= checkworkbccentre('36') ? 'selected' : '' %>>36</option>
            <option value="37" <%= checkworkbccentre('37') ? 'selected' : '' %>>37</option>
            <option value="38" <%= checkworkbccentre('38') ? 'selected' : '' %>>38</option>
            <option value="39" <%= checkworkbccentre('39') ? 'selected' : '' %>>39</option>
            <option value="40" <%= checkworkbccentre('40') ? 'selected' : '' %>>40</option>
            <option value="41" <%= checkworkbccentre('41') ? 'selected' : '' %>>41</option>
            <option value="42" <%= checkworkbccentre('42') ? 'selected' : '' %>>42</option>
            <option value="43" <%= checkworkbccentre('43') ? 'selected' : '' %>>43</option>
            <option value="44" <%= checkworkbccentre('44') ? 'selected' : '' %>>44</option>
            <option value="45" <%= checkworkbccentre('45') ? 'selected' : '' %>>45</option>            
          </select>
          <% if (errors.workbccentre) { %>
          <div class="invalid-feedback">Please click the link you received through email.</div>
          <% } %>
        </div>
        
        <!--
        <div class="form-group">
          <label class="col-form-label control-label" for="address">Address</label>
          <small class="text-muted" id="address">555 Main St</small>
          <input type="text" class="form-control <%= errors.address ? 'is-invalid' : '' %>" id="address" aria-describedby="address" name="address"
            value="<%= data.address %>" />
          <% if (errors.address) { %>
          <div class="invalid-feedback"><%= errors.address.msg %></div>
          <% } %>
        </div>
        <div class="form-group">
          <label class="col-form-label control-label" for="address2">Address 2</label>
          <small id="address2" class="text-muted">Apartment, studio, or floor</small>
          <input type="text" class="form-control <%= errors.address2 ? 'is-invalid' : '' %>" id="address2" aria-describedby="address2" name="address2"
            value="<%= data.address2 %>" />
          <% if (errors.address2) { %>
          <div class="invalid-feedback"><%= errors.address2.msg %></div>
          <% } %>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label class="col-form-label control-label" for="city">City <span style="color:red">*</span></label>
            <input type="text" class="form-control <%= errors.city ? 'is-invalid' : '' %>" id="city" name="city"
              value="<%= data.city %>" />
            <% if (errors.city) { %>
            <div class="invalid-feedback"><%= errors.city.msg %></div>
            <% } %>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label control-label" for="postal">Postal Code <span style="color:red">*</span></label>
            <input type="text" class="form-control <%= errors.postal ? 'is-invalid' : '' %>" id="postal" name="postal"
              maxlength="7" value="<%= data.postal %>" />
            <% if (errors.postal) { %>
            <div class="invalid-feedback"><%= errors.postal.msg %></div>
            <% } %>
          </div>
        </div>
        -->
        <div class="form-group">
            <label class="col-form-label control-label" for="message">Message</label>
            <textarea class="form-control <%= errors.message ? 'is-invalid' : '' %>"
              id="message" name="message"
              rows="6"><% if (data.message) { %><%= data.message %><% } else { %>Hello,
I would like to receive more information on the services and trainings offered by WorkBC.
Thank you<% } %></textarea>
            <% if (errors.message) { %>
            <div class="invalid-feedback"><%= errors.message.msg %></div>
            <% } %>
          </div>


        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input <%= errors.consent ? 'is-invalid' : '' %>" id="consent"
              name="consent" value="consent" />
            <label class="form-check-label control-label" for="consent"><span style="color:red">*</span> I acknowledge and
              understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that
              by doing so, I am providing the same consent as I would by manually signing a physical copy of this
              form to be contacted by a WorkBC Centre.</label>
            <% if (errors.consent) { %>
            <div class="invalid-feedback"><%= errors.consent.msg %></div>
            <% } %>
          </div>
        </div>
        <!--
          <div class="form-field <%= errors.email ? 'is-invalid' : '' %>">
          <label for="email">Email</label>
          <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
          <% if (errors.email) { %>
            <div class="invalid-feedback"><%= errors.email.msg %></div>
          <% } %>
        </div>-->
        <div class="form-actions">
          <button class="btn btn-primary" id="submitContactWorkBC" type="submit" onclick="_paq.push(['trackEvent', 'ContactForm', 'Submit']);">Submit</button>
        </div>
    </div>
    </form>
  </div>
  
  <% 
    function checkworkbccentre(s){
      if (!data.workbccentre && !centre){
        return false;
      } else if (typeof centre !== 'undefined'){
        if (s == centre){
          return true;
        }
      } else {
        return data.workbccentre.includes(s);
      }
    }
  %>